<div class="container">
    <%= link_to "Create New Post", new_topic_post_path(@topic), class: "btn btn-primary mb-2" %>

    <h6><%= @topic.name %></h6>

    <% @posts.each do |post| %>
      <h5><%= link_to post.title, topic_post_path(@topic, post) %></h5>
      <br/>
      <p><%= truncate post.body, length: 200 %></p>
    <% end %>
</div>
